.footer-in-flex {
  display: flex;
}

.links {
  width: 40%;
}

.links > h4 {
  background: linear-gradient(#C7CAFE 100%, #3D408F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  font-size: 35px;
}

.links > p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.502);
  margin-bottom: 24px;
  line-height: 25px;
}

.link-ul {
  display: flex;
}

.link-ul li {
  margin-right: 20px;
}

.link-ul li i {
  font-size: 28px;
  color: #ACABBF;
}

.foot-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
}

.foot-grid h4 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
}

.foot-grid > div > ul > li {
  margin-bottom: 20px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.502);
  cursor: pointer;
  transition: all .4s ease;
}

.foot-grid > div > ul > li:hover {
  color: rgba(255, 255, 255);

}

.copy {
  margin-top: 50px;
  color: #8F91D0;
  margin-bottom: 50px;
  text-align: center;
}